# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.DS_Store
caraxes.log
lexer/goianinha.output
tests/sintatico/.DS_Store
tests/sintatico/.DS_Store
result.log
output.asm
tests/semantico/.DS_Store
tests/sintatico/.DS_Store
lexer/goianinha
.gitignore
lexer/goianinha.tab.c
lexer/goianinha.tab.h
lexer/goianinha.c
